$font-famaly: Helvetica, sans-serif;
$primary-color: #333;
$text-color: white;

header {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
}
main {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 1200px;
  align-items: center;
  ul {
    list-style: none;
    background-color: rgb(138, 138, 138);
    padding: 10px;
    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      justify-content: space-between;
      margin: 2px;
      width: 800px;
      padding: 20px;
      background-color: rgb(233, 255, 255);
      
      color: black;
      .title-span {
        font-size: 20px;
        font-weight: 900;
        margin-right: 20px;
      }
    }
  }
}
@mixin box {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 0%;
  align-self: center;
  box-sizing: border-box;
}
.checkbox {
  @include box;

  background-color: rgb(44, 44, 44);
  border: 5px solid rgb(0, 0, 0);
}
.checkboxChecked {
  background-color: rgb(255, 255, 255);
  background-image: url('https://w7.pngwing.com/pngs/405/55/png-transparent-checked-logo-check-mark-green-check-angle-leaf-triangle.png');
  background-size:cover ;
  border: 5px solid rgb(22, 22, 22);
}
.addBox {
  @include box;

  background-color: rgb(43, 180, 144);
  border: 5px solid rgb(24, 24, 24);
}
body {
  font-family: $font-famaly;
  color: $text-color;
  background: $primary-color;
  > .alert {
    > input {
      outline: none;
    }
  }
  > .select {
    margin-top: 10px;
    > select {
      outline: none;
    }
  }
  #display {
    height: 200px;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #dialog {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    > .card {
      width: 300px;
      padding: 15px;
      border-radius: 7px;
      background: white;
      color: #222;
      display: flex;
      align-items: center;
      flex-direction: column;
      #message {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
      }
      button {
        width: 100px;
      }
    }
  }
}
